@import '../../../shared/styles/variables';

.signup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;

    &__logo {
        height: 100%;
        width: auto;
        max-width: 50%;
        object-fit: cover;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        z-index: 100;

        &__auth-link {
            margin-top: 0.5rem;
        }
    }

    @media(max-width: 800px) {
        &__logo {
            flex-grow: 1;
            display: none;
        }
    }
}