@import '../../shared/styles/variables';

.signup {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: $font-size-s;

    &__logo {
        width: 45%;
        padding: 5% 10%;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__auth-link {
            margin-top: 0.5rem;
        }
    }

    @media(max-width: 670px) {
        &__logo {
            display: none;
        }
    }
}