@import '../../shared/styles/variables';

.signup {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-size: $font-size-s;

    &__logo {
        width: 40%;
        max-height: 90%;
        align-self: center;
        object-fit: contain;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__auth-link {
            margin-top: 0.5rem;
        }
    }

    @media(max-width: 800px) {
        &__logo {
            display: none;
        }
    }
}