@import '../../../shared/styles/variables';

.message {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 60%;
  min-width: 50px;

  margin: 0 0 0.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: $font-size-s;
  border-bottom-left-radius: 0;
}
.message-sent {
  background-color: var(--primary-text);
  color: var(--primary-bg);
}

.message-received {
  background-color: var(--secondary);
  color: var(--primary-text);
}

.message-time {
  font-size: $font-size-xs;
}


nav {
  ul {
    list-style: none;

    li {
      display: inline-block;

      a {
        color: white;
      }
    }
  }
}


nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
}
