@import '../styles/variables';

.contacts {
  height: calc(100vh - 85px);
  overflow-y: auto;
  overflow-x: hidden;
}

.chat {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 300px);
  height: calc(100vh - 85px);
}

.chat-info {
  text-align: center;
  font-size: $font-size-s;
  background-color: var(--primary-bg);
}

.online-status {
  font-size: $font-size-xs;
}

.chat-history {
  display: flex;
  flex-direction: column;
  font-size: $font-size-s;
  background-image: url('../assets/bg1.png');
  overflow-y: auto;
}

.chat-input {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-top: auto;
  align-items: center;
  font-size: $font-size-s;
}

.chat-input .btn {
  border: none;
  background-color: transparent; // убрать фон кнопки
  &:hover {
    background-color: transparent; // убрать эффект hover кнопки
  }
}

.chat-input img {
  height: 1.5em;
  filter: brightness(0.5);

  &:hover {
    filter: brightness(1);
    cursor: pointer;
  }
}

.chat-input input {
  display: none;
}

.chat-input textarea {
  display: block;
  margin-left: 10px;
  margin-right: 10px;

  max-height: 300px;
  width: 100%;

  resize: none;

  font-size: $font-size-xs;
  background-color: var(--primary-bg);
  color: var(--primary-text);
  border: none;

  &:focus {
    outline: none;
  }
}