@import '../../../shared/styles/variables';

.home {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: var(--header);
}

//row 1
.contacts {
  width: 20%;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid var(--tertiary);
}

//row 2
.chat {
  display: flex;
  flex-direction: column;
  width: 80%;

  .chat__info {
    padding: 0.2rem;
    border-bottom: 1px solid var(--tertiary);

    .name {
      text-transform: uppercase;
    }

    .online-status {
      font-size: $font-size-xs;
      color: var(--secondary)
    }
  }

  .chat__history {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    overflow-y: auto;
    font-size: $font-size-s;
    background-image: url('../../../assets/bg1.png');
  }

  .chat__input {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 0.2rem 0.5rem 0.5rem;
    font-size: $font-size-s;
    background-color: var(--primary-bg);

    button {
      border: none;

      &:hover {
        background-color: transparent;
      }
    }

    img {
      height: 1.5rem;
      filter: opacity(0.7);

      &:hover {
        filter: opacity(1);
        cursor: pointer;
      }
    }

    input {
      display: none;
    }

    textarea {
      display: block;
      margin: 0.5rem 0.5rem 0 0.5rem;
      width: 100%;
      max-height: 20vh;
      border: none;
      font-size: $font-size-s;
      color: var(--primary-text);
      background-color: var(--primary-bg);
      resize: none;

      &:focus {
        outline: none;
      }
    }
  }
}

