@import '../styles/variables';

.contact {
  display: flex;
  flex-direction: row;
  width: 300px;
  border: none;
}

.contact img {
  border-radius: 50%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.name {
  font-size: $font-size-s;
}

.last-message {
  font-size: $font-size-xs;
}
