@import '../../../shared/styles/variables';

.contact {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--bg-2);
  }

  &__pfp {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    border: 2px solid var(--bg-1);
    border-radius: 50%;
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    min-width: 0;
  }

  &__name {
    grid-area: 1/1/2/2;
    font-weight: 500;
  }

  &__last-message {
    grid-area: 2/1/3/2;
    color: var(--bg-1);
  }

  &__name,
  &__last-message {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
  }

  &__created-at {
    grid-area: 1/2/2/3;
    justify-self: end;
    color: var(--bg-1);
    font-size: $font-size-s;
  }

  &__read-status {
    grid-area: 2/2/3/3;
    align-self: end;
    justify-self: end;
    height: 1.5rem;
  }
}




