.button {
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--bg-2);
  border-radius: 0.375rem;
  color: var(--text);
  background-color: var(--bg-3);
  cursor: pointer;

  &:focus { outline: none; }
  &:hover { background-color: var(--bg-2); }

  &_disabled {
    cursor: not-allowed;
    background-color: var(--bg-2);
  }

  &_no-style {
    padding: 0;
    border: none;
    background-color: transparent;
    &:hover { background-color: transparent; }
  }
}