@import '../shared/styles/variables';

// выпадающее меню
.dropdown {
  position: relative;
}

.dropdown__menu {
  position: absolute;
  //display: none;
  border: 1px solid var(--tertiary);
  font-size: $font-size-s;
  background-color: var(--primary-bg);
  list-style: none;

  display: block;
  opacity: 0; // Скрываем меню по умолчанию
  max-height: 0;
  overflow: hidden;
  //transition: opacity 0.2s ease, max-height 0.2s ease;

  li a {
    text-decoration: none;
    color: var(--primary-text);
  }
}

.show {
  //display: block;

  opacity: 1; // Сделаем меню видимым
  max-height: 20rem;
}

// сообщение об ошибке
.error-message {
  font-size: $font-size-error;
  color: var(--danger);
}

// показать/скрыть пароль
.toggle-visibility-eye {
  position: absolute;
  right: 0.6rem;
  top: 43%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  filter: opacity(0.7);

  &:hover {
    filter: opacity(1);
  }
}

.toggle-visibility-input {
    position: relative;

    input {
      margin-bottom: 0.5rem;
      padding-right: 2rem;
    }
}