@use './variables' as  *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Source Code Pro", Courier New, Courier, monospace;
  font-size: $font-size-base;
  line-height: 1.5;
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

h1 {
  font-size: $font-size-l;
  font-weight: 500;
  line-height: 1.2;
}

a {
  color: var(--link);
  text-decoration: none;
}

img { vertical-align: middle; }

label { display: inline-block; }

input, textarea, select, button, p, ul, li {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--tertiary);
  border-radius: 0.375rem;
  color: var(--primary-text);
  background-color: var(--header);
  cursor: pointer;

  &:hover { color: var(--primary-text); }
  &:focus { outline: none; }
}

input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--tertiary);
  border-radius: 0.375rem;
  color: #000;
  transition: box-shadow 0.2s ease;

  &::placeholder {
    color: var(--secondary);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
  }
}

// disabling default search styles
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

// scrollbar
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--primary-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 5px;

  &:hover {
    background-color: #888;
  }
}

//button {
//  padding: 0.375rem 0.75rem;
//  border: 1px solid var(--tertiary);
//  border-radius: 0.375rem;
//  color: var(--primary-text);
//  background-color: var(--header);
//  cursor: pointer;
//
//  &:hover {
//    color: var(--primary-text);
//    background-color: var(--tertiary) !important;
//  }
//
//  &:focus {
//    outline: none;
//  }
//}
