@import '../styles/variables';

.user-navbar {
  border-bottom: 1px solid var(--tertiary);
}

.icon-header {
  height: 40px;
}

.search-container {
  flex:1;
  margin-left: 100px;
  margin-right: 50px;
  ::-webkit-input-placeholder {
    color: var(--secondary);
  }
}

.search-container input {
  border: none;
  border-radius: 10px;
  background-color: var(--tertiary);
  color: var(--primary-text);

  &:focus {
    background-color: var(--tertiary);
    color: var(--primary-text);
    outline: none;
  }
}

.profile-button {
  height: 40px;
  width: 40px;
  background-image: url('../../public/pfp.png');
  background-size: cover;
  border-radius: 50%;
  position: relative;
}

.profile-container .app-dropdown-menu {
  margin-top: 10px;
  min-width: max-content;
  right: 0;

  &:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 40%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent var(--tertiary) transparent;
  }
}

#password {
  font-size: 15px;
}