@import 'bootstrap/dist/css/bootstrap.css';
[data-theme=dark] {
  --primary-bg: #000;
  --primary-text: #fff;
  --secondary: #635E5E;
  --tertiary: #292929;
  --header: #090909;
  --modal-bg: rgba(20, 20, 20, 0.8);
  --danger: #BF0600;
}

[data-theme=light] {
  --primary-bg: #fff;
  --primary-text: #000;
  --secondary: #9ca1a1;
  --tertiary: #d6d6d6;
  --header: #f3f6f4;
  --modal-bg: rgba(235, 235, 235, 0.8);
  --danger: #BF0600;
}

[data-theme=dark] {
  --primary-bg: #000;
  --primary-text: #fff;
  --secondary: #635E5E;
  --tertiary: #292929;
  --header: #090909;
  --modal-bg: rgba(20, 20, 20, 0.8);
  --danger: #BF0600;
}

[data-theme=light] {
  --primary-bg: #fff;
  --primary-text: #000;
  --secondary: #9ca1a1;
  --tertiary: #d6d6d6;
  --header: #f3f6f4;
  --modal-bg: rgba(235, 235, 235, 0.8);
  --danger: #BF0600;
}

body {
  font-family: "Source Code Pro", Courier New, Courier, monospace;
  font-size: 1rem;
  color: var(--primary-text);
  background-color: var(--primary-bg);
}

h1 {
  font-size: 1.9rem;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--tertiary);
  border-radius: 0.375rem;
  color: var(--primary-text);
  background-color: var(--header);
}
button:hover {
  color: var(--primary-text);
  background-color: var(--tertiary) !important;
}
button:focus {
  outline: none;
}

input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border: 1px solid var(--tertiary);
  border-radius: 0.375rem;
  color: #000;
  transition: box-shadow 0.2s ease;
}
input:focus {
  outline: none;
  border: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}
input ::-webkit-input-placeholder {
  color: var(--secondary);
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--primary-bg);
}

::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--secondary);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

.error-message {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  color: var(--danger);
}

.visibility-switch {
  position: absolute;
  right: 0.6rem;
  top: 43%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  filter: opacity(0.7);
}
.visibility-switch:hover {
  filter: opacity(1);
}

[data-theme=dark] {
  --primary-bg: #000;
  --primary-text: #fff;
  --secondary: #635E5E;
  --tertiary: #292929;
  --header: #090909;
  --modal-bg: rgba(20, 20, 20, 0.8);
  --danger: #BF0600;
}

[data-theme=light] {
  --primary-bg: #fff;
  --primary-text: #000;
  --secondary: #9ca1a1;
  --tertiary: #d6d6d6;
  --header: #f3f6f4;
  --modal-bg: rgba(235, 235, 235, 0.8);
  --danger: #BF0600;
}

.app-dropdown-container {
  position: relative;
  display: inline-block;
}

.app-dropdown-menu {
  position: absolute;
  display: none;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--tertiary);
  border-radius: 7px;
  font-size: 0.9rem;
  background-color: var(--primary-bg);
  list-style: none;
}
.app-dropdown-menu li a {
  text-decoration: none;
  color: var(--primary-text);
}

.app-show {
  display: block;
}

[data-theme=dark] {
  --primary-bg: #000;
  --primary-text: #fff;
  --secondary: #635E5E;
  --tertiary: #292929;
  --header: #090909;
  --modal-bg: rgba(20, 20, 20, 0.8);
  --danger: #BF0600;
}

[data-theme=light] {
  --primary-bg: #fff;
  --primary-text: #000;
  --secondary: #9ca1a1;
  --tertiary: #d6d6d6;
  --header: #f3f6f4;
  --modal-bg: rgba(235, 235, 235, 0.8);
  --danger: #BF0600;
}

.header-user {
  background: var(--header);
  border-bottom: 1px solid var(--tertiary);
}

.header-guest button {
  transition: transform 0.5s;
  will-change: transform;
}
.header-guest button:hover {
  transform: scale(1.05);
}

.header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.5rem 0;
}
.header .header-link {
  display: flex;
  width: 20%;
  padding-left: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-text);
}
.header .header-link img {
  max-height: 2.5rem;
}

.search-container {
  width: 40%;
}
.search-container input {
  border-radius: 10px;
}

.theme {
  background: none;
  border: none;
}
.theme img {
  height: 1.5rem;
}
.theme:hover {
  background: none !important;
}

.profile-container {
  position: relative;
  display: flex;
  align-items: center;
  height: calc(100% + 1rem);
  margin-left: 0.5rem;
  margin-right: 3rem;
  padding: 0 0.5rem;
  cursor: pointer;
}
.profile-container:hover {
  background: var(--tertiary);
}
.profile-container .profile-button {
  display: flex;
  align-items: center;
}
.profile-container .profile-button button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url("../../public/pfp.png");
  background-size: cover;
}
.profile-container .profile-button img {
  height: 0.7rem;
  padding-left: 0.5em;
  filter: opacity(50%);
}
.profile-container .app-dropdown-menu {
  min-width: max-content;
  right: 0;
  top: 100%;
  padding: 0 20%;
  border-radius: 5px;
  text-align: center;
}
.profile-container .app-dropdown-menu button {
  border: none;
  padding: 0.2rem;
  border-radius: 50%;
}
.profile-container .app-dropdown-menu img {
  height: 5em;
  border-radius: 50%;
}

[data-theme=dark] {
  --primary-bg: #000;
  --primary-text: #fff;
  --secondary: #635E5E;
  --tertiary: #292929;
  --header: #090909;
  --modal-bg: rgba(20, 20, 20, 0.8);
  --danger: #BF0600;
}

[data-theme=light] {
  --primary-bg: #fff;
  --primary-text: #000;
  --secondary: #9ca1a1;
  --tertiary: #d6d6d6;
  --header: #f3f6f4;
  --modal-bg: rgba(235, 235, 235, 0.8);
  --danger: #BF0600;
}

.footer {
  display: flex;
  padding: 0 1rem;
  border-top: 1px solid var(--tertiary);
  font-size: 0.9rem;
}
.footer button {
  padding: 0 0.5rem;
  border: none;
}

.start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.start-container img {
  max-height: 100%;
  max-width: 100%;
}

[data-theme=dark] {
  --primary-bg: #000;
  --primary-text: #fff;
  --secondary: #635E5E;
  --tertiary: #292929;
  --header: #090909;
  --modal-bg: rgba(20, 20, 20, 0.8);
  --danger: #BF0600;
}

[data-theme=light] {
  --primary-bg: #fff;
  --primary-text: #000;
  --secondary: #9ca1a1;
  --tertiary: #d6d6d6;
  --header: #f3f6f4;
  --modal-bg: rgba(235, 235, 235, 0.8);
  --danger: #BF0600;
}

.signin-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}
.signin-container h1 {
  text-align: center;
}
.signin-container img {
  max-width: 100vw;
  max-height: 40%;
  margin-bottom: 2rem;
}
.signin-container .form {
  margin: 0 1rem 0.5rem;
  padding: 1rem;
  border: 1px solid var(--secondary);
  border-radius: 10px;
}
.signin-container .form label {
  margin-bottom: 0.5rem;
}
.signin-container .form .password-container {
  position: relative;
}
.signin-container .form .password-container input {
  margin-bottom: 0.5rem;
  padding-right: 2rem;
}
.signin-container .form button {
  margin-top: 0.5rem;
}

[data-theme=dark] {
  --primary-bg: #000;
  --primary-text: #fff;
  --secondary: #635E5E;
  --tertiary: #292929;
  --header: #090909;
  --modal-bg: rgba(20, 20, 20, 0.8);
  --danger: #BF0600;
}

[data-theme=light] {
  --primary-bg: #fff;
  --primary-text: #000;
  --secondary: #9ca1a1;
  --tertiary: #d6d6d6;
  --header: #f3f6f4;
  --modal-bg: rgba(235, 235, 235, 0.8);
  --danger: #BF0600;
}

.signup-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  font-size: 0.9rem;
}
.signup-container .logo {
  width: 45%;
  padding: 5% 10%;
}
.signup-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 10%;
}
.signup-container .form label, .signup-container .form input {
  margin-bottom: 0.5rem;
}
.signup-container .form button {
  margin: 0.5rem 0;
}
.signup-container .form a {
  text-wrap: nowrap;
}
.signup-container .form .password-container {
  position: relative;
}
.signup-container .form .password-container input {
  padding-right: 2rem;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--modal-bg);
  backdrop-filter: blur(5px);
  z-index: 100;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  max-width: 90%;
  padding: 2.5rem;
  border-radius: 10px;
  text-align: center;
  background: var(--primary-bg);
  box-shadow: 0 0 30px rgba(0, 191, 255, 0.3);
}
.modal-content .modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1rem;
  text-align: end;
  filter: opacity(0.7);
  transition: filter 0.3s;
  cursor: pointer;
}
.modal-content .modal-close:hover {
  filter: opacity(1);
}
.modal-content p {
  margin: 0;
  padding-top: 0.5rem;
}
.modal-content .modal-hint {
  padding-top: 0.25rem;
  font-size: 0.6rem;
  color: var(--secondary);
}
.modal-content .modal-input {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.modal-content .modal-input input {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.4rem;
  text-align: center;
}
.modal-content button {
  margin-top: 1rem;
  width: fit-content;
}

[data-theme=dark] {
  --primary-bg: #000;
  --primary-text: #fff;
  --secondary: #635E5E;
  --tertiary: #292929;
  --header: #090909;
  --modal-bg: rgba(20, 20, 20, 0.8);
  --danger: #BF0600;
}

[data-theme=light] {
  --primary-bg: #fff;
  --primary-text: #000;
  --secondary: #9ca1a1;
  --tertiary: #d6d6d6;
  --header: #f3f6f4;
  --modal-bg: rgba(235, 235, 235, 0.8);
  --danger: #BF0600;
}

.home {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background-color: var(--header);
}

.contacts {
  width: 20%;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid var(--tertiary);
}

.chat {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.chat .chat-info {
  padding: 0.2rem;
  border-bottom: 1px solid var(--tertiary);
}
.chat .chat-info .name {
  text-transform: uppercase;
}
.chat .chat-info .online-status {
  font-size: 0.6rem;
  color: var(--secondary);
}
.chat .chat-history {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  overflow-y: auto;
  font-size: 0.9rem;
  background-image: url("../assets/bg1.png");
}
.chat .chat-input {
  display: flex;
  flex-direction: row;
  align-items: end;
  padding: 0.2rem 0.5rem 0.5rem;
  font-size: 0.9rem;
  background-color: var(--primary-bg);
}
.chat .chat-input button {
  border: none;
}
.chat .chat-input button:hover {
  background-color: transparent;
}
.chat .chat-input img {
  height: 1.5rem;
  filter: opacity(0.7);
}
.chat .chat-input img:hover {
  filter: opacity(1);
  cursor: pointer;
}
.chat .chat-input input {
  display: none;
}
.chat .chat-input textarea {
  display: block;
  margin: 0.5rem 0.5rem 0 0.5rem;
  width: 100%;
  max-height: 20vh;
  border: none;
  font-size: 0.9rem;
  color: var(--primary-text);
  background-color: var(--primary-bg);
  resize: none;
}
.chat .chat-input textarea:focus {
  outline: none;
}

[data-theme=dark] {
  --primary-bg: #000;
  --primary-text: #fff;
  --secondary: #635E5E;
  --tertiary: #292929;
  --header: #090909;
  --modal-bg: rgba(20, 20, 20, 0.8);
  --danger: #BF0600;
}

[data-theme=light] {
  --primary-bg: #fff;
  --primary-text: #000;
  --secondary: #9ca1a1;
  --tertiary: #d6d6d6;
  --header: #f3f6f4;
  --modal-bg: rgba(235, 235, 235, 0.8);
  --danger: #BF0600;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border: none;
}
.contact img {
  height: 2.5rem;
  border-radius: 50%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0.5rem;
  text-wrap: nowrap;
}
.contact-info .name {
  font-weight: 600;
}
.contact-info .last-message {
  font-size: 0.9rem;
}

[data-theme=dark] {
  --primary-bg: #000;
  --primary-text: #fff;
  --secondary: #635E5E;
  --tertiary: #292929;
  --header: #090909;
  --modal-bg: rgba(20, 20, 20, 0.8);
  --danger: #BF0600;
}

[data-theme=light] {
  --primary-bg: #fff;
  --primary-text: #000;
  --secondary: #9ca1a1;
  --tertiary: #d6d6d6;
  --header: #f3f6f4;
  --modal-bg: rgba(235, 235, 235, 0.8);
  --danger: #BF0600;
}

.message {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 60%;
  min-width: 50px;
  margin: 0 0 0.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  font-size: 0.9rem;
  border-bottom-left-radius: 0;
}

.message-sent {
  background-color: var(--primary-text);
  color: var(--primary-bg);
}

.message-received {
  background-color: var(--secondary);
  color: var(--primary-text);
}

.message-time {
  font-size: 0.6rem;
}

/*# sourceMappingURL=styles.css.map */
